#StructureList {
    display: grid;
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, max-content));
}